<h1>{{title}}</h1>
<span class="grid grid-pad" name=combinations.allComponentItems> 
  
  <h3>Component Items</h3> 
    <a *ngFor="let item of combinations.allComponentItems" class="col-1-4" (click)="combinations.addComponentItem(item)">
      <button class="module item">  
        <img src="../../assets/img/{{item.id}}.png">
      </button>
    </a>
  </span>
  <p>
    <br>
  </p>
  <span></span>
  
  <span class="grid grid-pad" name=combinations.collectedItems>
    <h3>Collected Items</h3>
    <a *ngFor="let collectedItem of combinations.collectedItems" class="col-1-4" (click)="combinations.removeCollectedItem(collectedItem)">
  
      <button class="module items-collected">
  
        <img src="../../assets/img/{{collectedItem.id}}.png">
      </button>
    </a>
  </span>
  <p>
    <br>
  </p>
  <span>
  
  <span class="grid grid-pad" name=combinations.potentialCompositeItems>
    
  <h3>Possible Composite Items</h3>
    <a *ngFor="let potentialCompositeItem of combinations.potentialCompositeItems" class="col-1-4" (click)="combinations.addCompositeItem(potentialCompositeItem)">
  
      <button class="module items-collected">
  
        <img src="../../assets/img/{{potentialCompositeItem.id}}.png">
      </button>
  
    </a>
  </span>
  <p>
    <br>
  </p>
  <span>
  <h3>Possible Item Combinations from Unused Component Items</h3>
  <span class="grid grid-pad" name=combinations.itemCombinations>
    <span>
      <li *ngFor="let itemCombination of combinations.itemCombinations" class="col-1-4">
        <a *ngFor="let item of itemCombination" class="col-1-4">
          <button class="module items-collected">
            <img src="../../assets/img/{{item.id}}.png">
          </button>
        </a>
      </li>      
    </span>
  </span>